<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Autocomplete with Redis Example</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
  .ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
  }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
    
	$("#add").click(function() {
			$.ajax({
				type : "POST",
				url : "http://localhost:5002/autocomplete/generate",
				data : {
					word : $("input[id='word']").val()
				},
				success : function(result) {

				}
			});
		});

		$("#word").autocomplete({
					source : "http://localhost:5002/autocomplete/search",
					minLength : 2,
					create: function () {
			            $(this).data('ui-autocomplete')._renderItem = function (ul, item) {
			                return $('<li>')
			                    .append('<a>' + item.value + '<span> (' + item.score + ' searches)</span></a>')
			                    .appendTo(ul);
			            };
			        },
					select : function(event, ui) {	
						console.log(ui);
						$("#log").append(ui.item.value).append("<br>");
						$.ajax({
							type : "POST",
							url : "http://localhost:5002/autocomplete/incr",
							data : ui.item,
							success : function(result) {								
							}
						});
					}

				});
	});
		</script>
<script>
	$(document).ready(function() {

		$.getJSON("http://localhost:5002/autocomplete/search?term=Apple", function(result) {
			$.each(result, function(i, field) {
				$("div.comment-list").append(field.value + ":" +field.score);
			});
		});
	});
</script>
</head>
<body>
 
<div class="ui-widget">
  <label for="word">Word: </label>
  <input id="word">
  <button id="add">Add new</button>
</div>
 
<div class="ui-widget" style="margin-top:2em; font-family:Arial">
  Result:
  <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
</div>
 
<div class = "comment-list" data-count = 10>
 
</div>
 
</body>
</html>